[Desktop Entry]
Type=Application
Version=1.2
Exec=nemo /usr/lib/blockly4thymio
Categories=Education;Science;
Icon=blockly4thymio
Name=Blockly4Thymio
Name[fr]=Blockly4Thymio
Terminal=false
GenericName=Development environment for Thymio
GenericName[fr]=Environnement de développement pour Thymio
