[Desktop Entry]
Type=Application
Exec=blockly4thymio
Categories=Education;Science;
MimeType=application/blockly4thymio
Icon=blockly4thymio
MimeType=text/b4t
Name=Blockly4Thymio
Name[fr]=Blockly4Thymio
Terminal=false
GenericName=Blockly4Thymio's compiler
GenericName[fr]=Compilateur pour Blockly4Thymio

