[Desktop Entry]
Type=Application
Exec=nemo /usr/lib/blockly4thymio
Categories=Education;Science;
Icon=blockly4thymio-folder
Name=Blockly4Thymio folder
Name[fr]=Dossier Blockly4Thymio
Terminal=false
GenericName=Development environment for Thymio
GenericName[fr]=Environnement de développement pour Thymio

