[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Thymio Cycle 1
Type=Link
URL=http://robotique.canope-aura.fr/thymio/interface1/
Icon=text-html
Name[fr_FR]=Interface pour les Cycles 1
