[Desktop Entry]
Encoding=UTF-8
Name=Lien vers A propos - Blockly4Thymio
Type=Link
URL=http://blockly4thymio.net/
Icon=text-html
Name[fr_FR]=www.blockly4thymio.net
