Package: blockly4thymio
Version: 1.2
Section: base
Priority: optional
Architecture: all
Depends: bash
Maintainer: Okimi <contact@blockly4thymio.net>
Description: Compilateur dédié à l'environnement d'apprentissage de la programmation : Blockly4Thymio
Homepage: http://www.blockly4thymio.net